@keyframes navunderline{
    from{opacity: 0.4;}
    to{opacity: 1;}
}
@keyframes popbox{
    from{
        height: 25em;
        border-radius: 50%;
        }
    
    to{
        height: 34em;
        border-radius: 10%;
    }
}
@keyframes popbox1{
    from{
        height: 25em;
        opacity: 0;
        }
    
    to{
        height: 50em;
        opacity: 0;
    }
}
@keyframes bleh{
    from{
        margin-top: 5.7em;
        margin-bottom: 5.7em;
    }
    to{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
@keyframes barfill-40{
    from{
        width: 0%;
    }
    to{
        width: 40%;
    }
}
@keyframes barfill-90{
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
@keyframes barfill-60{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}
@keyframes barfill-5{
    from{
        width: 0%;
    }
    to{
        width: 5%;
    }
}
@keyframes barfill-95{
    from{
        width: 0%;
    }
    to{
        width: 95%;
    }
}
@keyframes barfill-30{
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
}
@keyframes barfill-35{
    from{
        width: 0%;
    }
    to{
        width: 35%;
    }
}