@keyframes navunderline{
    from{opacity: 0.4;}
    to{opacity: 1;}
}
@keyframes popbox{
    from{
        height: 25em;
        border-radius: 50%;
        }
    
    to{
        height: 34em;
        border-radius: 10%;
    }
}
@keyframes bleh{
    from{
        margin-top: 5.7em;
        margin-bottom: 5.7em;
    }
    to{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
@keyframes barfill-40{
    from{
        width: 0%;
    }
    to{
        width: 40%;
    }
}