body{
    /* background-color: blueviolet; */
     background-image: linear-gradient(rgb(169, 92, 199), rgb(133, 111, 134), rgb(123, 113, 221));
}
#navbar{
    width: 80em;
    height: 4em;
    /* border: 1px solid red; */
    margin: 7em auto -4em auto;
    padding: 0.9em 0.5em 0em 0.5em;
}
#container{
    width: 80em;
    height: 100em;
    background-color: rgb(168, 194, 218);
    margin: 0em auto 2em auto;
    border-radius: 3px;
}
#navbar a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    opacity: 0.4;
    font-size: 2.5em;
    color: black;
    /* display: inline; */
    text-decoration: none;
    /* padding: 0em 2.4em; */
    margin: 0em 2.4em -1em 2.9em;
    /* margin-bottom:-1em; */
    /* border: 1px solid black; */
}

#navbar a:hover{
    animation-name: navunderline;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: ease-in;
}
#container{
    font-family: 'Roboto', sans-serif;
}
#about{
    
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 43em;
    border-radius: 2px;
}
#about img{
    display: inline;
    border-radius: 1em;
    width: 35em;
    margin-right: 1.5em;
    margin-top: 1.2em;
    float: right;
    opacity: 0.9;
    height: 30em;
}
#about-text{
    margin-top: 1em;
    margin-left: 1em;
    display: inline;
    float: left;
    width: 40em;
    height: 31em;
    /* border: 1px solid green; */
}
#about-text h1,p{
    text-align: center;
    color: white;
    /* word-spacing: 0.1em; */
    /* line-height:0.5em; */

}
#about-text h1{
    font-size: 5em;
}
#about-text p{
    font-size: 2em;
}
#skills{
    
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 43em;
    border-radius: 2px;
}
.skill{
    width: 25em;
    height: 25em;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0em 0.5em;
}