body{
    /* background-color: blueviolet; */
    background-image: linear-gradient(rgb(169, 92, 199), rgb(133, 111, 134), rgb(123, 113, 221));
}
#navbar{
    width: 80em;
    height: 4em;
    /* border: 1px solid red; */
    margin: 7em auto -4em auto;
    padding: 0.9em 0.5em 0em 0.5em;
}
#container{
    width: 80em;
    height: 150em;
    background-color: rgb(168, 194, 218);
    margin: 0em auto 2em auto;
    border-radius: 3px;
}
#navbar a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    opacity: 0.4;
    font-size: 2.5em;
    color: black;
    /* display: inline; */
    text-decoration: none;
    /* padding: 0em 2.4em; */
    margin: 0em 2.4em -1em 2.9em;
    /* margin-bottom:-1em; */
    /* border: 1px solid black; */
}

#navbar a:hover{
    animation-name: navunderline;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: ease-in;
}
#container{
    font-family: 'Roboto', sans-serif;
}
#about{
    
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 43em;
    border-radius: 2px;
}
#about img{
    display: inline;
    border-radius: 1em;
    width: 35em;
    margin-right: 1.5em;
    margin-top: 1.2em;
    float: right;
    opacity: 0.9;
    height: 30em;
}
#about-text{
    margin-top: 1em;
    margin-left: 1em;
    display: inline;
    float: left;
    width: 40em;
    height: 31em;
    /* border: 1px solid green; */
}
#about-text h1,p{
    text-align: center;
    color: white;
    /* word-spacing: 0.1em; */
    /* line-height:0.5em; */

}
#about-text h1{
    font-size: 5em;
}
#about-text p{
    font-size: 2em;
}
#skills{
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 43em;
    border-radius: 2px;
    /* margin-top: 10em; */
}
.skill{
    width: 25.37em;
    height: 25em;
    /* background-color: rgba(255, 127, 80, 0.342); */
    background-color: rgba(78, 158, 78, 0.904);
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0em 0.5em;
    position: absolute;
}
.skill:hover{ /*on hover div element bada hoga*/
    animation: popbox 0.3s forwards;
}
.skill:hover > .sk{ /*skill heading upar jayegi*/
    animation: bleh 0.4s forwards;
}
.skill:hover  .fillcube{
    animation: barfill-40 1s forwards;
}
.pbarcube{
    margin:0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.fillcube{
    width: 0%;
    height: 2em;
    background-color: white;
}
.htmlbar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.fillhtml{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .fillhtml{
    animation: barfill-90 1s forwards;
}
.cssbar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.fillcss{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .fillcss{
    animation: barfill-60 1s forwards;
}
.jsbar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.filljs{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .filljs{
    animation: barfill-25 1s forwards;
}
.cbar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.fillc{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .fillc{
    animation: barfill-95 1s forwards;
}
.cppbar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.fillcpp{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .fillcpp{
    animation: barfill-30 1s forwards;
}
.javabar{
    margin: 0em auto;
    width: 70%;
    height: 2em;
    border:1px solid black;
}
.filljava{
    width: 0%;
    height: 2em;
    background-color: white;
    border-radius: 5px;
}
.skill:hover  .filljava{
    animation: barfill-35 1s forwards;
}
#outerfade-gamedev{
    width: 15%;
    height: 25em;
    /* background-color: rgba(255, 127, 80, 0.342); */
    border-radius: 0%;
    display: inline-block;
    overflow: hidden;
    margin: -25.3em 0em;
    position: absolute;
}
.skill:hover #outerfade-gamedev{
    animation: popbox1 0.3s forwards;
}
#outerfade-webdev{
    width: 55%;
    height: 25em;
    /* background-color: rgba(255, 127, 80, 0.342); */
    border-radius: 0%;
    display: inline-block;
    overflow: hidden;
    margin: -25.3em 0em;
    position: absolute;
}
.skill:hover #outerfade-webdev{
    animation: popbox1 0.3s forwards;
}
#outerfade-programming{
    width: 70%;
    height: 25em;
    /* background-color: rgba(255, 127, 80, 0.342); */
    border-radius: 0%;
    display: inline-block;
    overflow: hidden;
    margin: -25.3em 0em;
    position: absolute;
}
.skill:hover #outerfade-programming{
    animation: popbox1 0.3s forwards;
}
.outerfade{
    background-color: rgba(255, 127, 80, 0.342);
}
#contact{
    margin-top: 5em;
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 15em;
    border-radius: 2px;
}
.socialmedia{
    width: 20em;
    height: 3em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.644);
    display: inline-block;
    margin: -1em 3.2em;
    position: relative;
}
.socialmedia img{
    width: 20%;
    height: 100%;
    display: inline-block;
    border-radius: 0.5em;
}
.socialmedia h1{
    display: inline-block;
    margin-top: 0.15em;
    position: absolute;
    letter-spacing: 0.05em;
    color: black;
}
#contact a{
    text-decoration: none;
    color: aliceblue;
    
}
.socialmedia:hover .fillcontact{
    /* animation:   full-barfill 0.5s forwards; */
    animation: full-barfill 0.5s forwards;
}
/* .socialmedia:hover #fillgithub{
    /* animation:   full-barfill 0.5s forwards; */
    /* animation: full-barfill 0.5s forwards; */
/*}*/ 
.socialmedia:hover h1{
    animation:  handle-color-change 0.5s forwards;
}
.fillcontact{
    margin-left: 4.1em;
    position: absolute;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.61);
    /* border: 2px solid red; */
    border-radius: 0.5em;
    width: 0%;          
    height: 100%;
}

#fillmail:hover{
visibility: visible;
}
.in{
    width: 40em;
    height: 2em;
    margin-top: 1em;
    margin-left: 15% ;
    border-radius: 5px;
} 
/* #s_body{
    height: ;
} */ 
.btnsend{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.btnsend:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    cursor:pointer;
}
#mail{
    /* margin-top: 1em; */
    /* position: absolute; */
    top: 0.9em;
}
.maill{
    width: 100%;
    height: 30em;
    background-color: rgba(0, 0, 0, 0.329);
    margin-top: 2em ;
    font-family: 'Roboto', sans-serif;

}
.maill form{
    margin: 1em 18em;
    font-family: 'Roboto', sans-serif;
}
#s_body{
    height: 5em;
}
@media only screen and (max-width:360px){
    .skill{
        margin: 0em 20em;
    }
}